<% layout('layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center">Edit Store</h1>
    <div class="col-6 offset-3">
        <form action="/stores/<%= store._id %>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="image">Add New Images (.jpeg/.jpg/.png ONLY): </label>
                <div class="form-file custom-file">
                    <input type="file" class="form-file-input" id="image" name="store[image]" multiple>
                    <label class="form-file-label" for="image">
                        <span class="form-file-text custom-file-label">Choose image(s)...</span>
                        <span class="form-file-button">Browse</span>
                    </label>
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="title">Store Name: </label>
                <input class="form-control" type="text" id="title" name="store[title]" value="<%= store.title %>" placeholder="Store Name" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
    
            <div class="mb-3">
                <label class="form-label" for="price">Price: </label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input class="form-control" type="number" id="price" name="store[price]" value="<%= store.price %>" placeholder=0 aria-label="price" aria-describedby="basic-addon1" required>
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
    
            <div class="mb-3">
                <label class="form-label" for="cardgame">Card Game: </label>
                <select class="form-control" id="cardgame" name="store[cardgame]">
                    <% for (let game of games){ %>
                        <option value="<%= game %>"><%= game.charAt(0).toUpperCase() + game.slice(1) %></option>
                    <% } %>
                </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
    
            <div class="mb-3">
                <label class="form-label" for="description">Description: </label>
                <textarea class="form-control" type="text" id="description" name="store[description]" placeholder="Description" required><%= store.description %></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
    
            <div class="mb-3">
                <label class="form-label" for="location">Address: </label>
                <input class="form-control" type="text" id="location" name="store[location]" value="<%= store.location %>" placeholder="Address" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
    
            <div class="mb-3">
                <label class="form-label" for="recurrence">Tournament On: </label>
                <select class="form-control" id="recurrence" name="store[recurrence]">
                    <% for (let r of recurrence){ %>
                        <option value="<%= r %>"><%= r.charAt(0).toUpperCase() + r.slice(1) %></option>
                    <% } %>
                </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
    
            <div class="mb-3">
                <label class="form-label" for="time">Start Time: </label>
                <input class="form-control" type="number" id="time" name="store[time]" value="<%= store.time %>" placeholder="24 Hours & Number Only, ex. 1300 for 1pm" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="deleteImage">Delete Images: </label>
                <% store.image.forEach(function(img, i) { %>
                <div>
                    <img src="<%= img.thumbnail %>" class="img-thumbnail" alt="">
                </div>
                <div class="form-check-inline">
                    <input type="checkbox" id="image-<%= i %>" name="deleteImages[]" value="<%= img.filename %>">
                </div>
                <label for="image-<%=i%>">Delete This Image</label>
                <% }) %>
            </div>
    
            <button class="btn btn-info">Update</button>
        </form>
    </div>
</div>

    <footer>
        <a href="/stores/<%= store._id %>">Back</a>
        <a href="/stores">All Card Stores</a>
    </footer>