<% layout('layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center">Edit Store</h1>
    <div class="col-6 offset-3">
        <form action="/stores/<%= store._id %>?_method=PUT" method="POST">
            <div class="mb-3">
                <label class="form-label" for="image">Image URL: </label>
                <input class="form-control" type="text" id="image" name="store[image]" value="<%= store.image %>">
            </div>

            <div class="mb-3">
                <label class="form-label" for="title">Store Name: </label>
                <input class="form-control" type="text" id="title" name="store[title]" value="<%= store.title %>" placeholder="Store Name">
            </div>
    
            <div class="mb-3">
                <label class="form-label" for="price">Price: </label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input class="form-control" type="number" id="price" name="store[price]" value="<%= store.price %>" placeholder=0 aria-label="price" aria-describedby="basic-addon1">
                </div>
                
            </div>
    
            <div class="mb-3">
                <label class="form-label" for="cardgame">Card Game: </label>
                <select class="form-control" id="cardgame" name="store[cardgame]">
                    <% for (let game of games){ %>
                        <option value="<%= game %>"><%= game.charAt(0).toUpperCase() + game.slice(1) %></option>
                    <% } %>
                </select>
            </div>
    
            <div class="mb-3">
                <label class="form-label" for="description">Description: </label>
                <textarea class="form-control" type="text" id="description" name="store[description]" placeholder="Description"><%= store.description %></textarea>
            </div>
    
            <div class="mb-3">
                <label class="form-label" for="location">Address: </label>
                <input class="form-control" type="text" id="location" name="store[location]" value="<%= store.location %>" placeholder="Address">
            </div>
    
            <div class="mb-3">
                <label class="form-label" for="recurrence">Tournament On: </label>
                <select class="form-control" id="recurrence" name="store[recurrence]">
                    <% for (let r of recurrence){ %>
                        <option value="<%= r %>"><%= r.charAt(0).toUpperCase() + r.slice(1) %></option>
                    <% } %>
                </select>
            </div>
    
            <div class="mb-3">
                <label class="form-label" for="time">Start Time: </label>
                <input class="form-control" type="number" id="time" name="store[time]" value="<%= store.time %>" placeholder="24 Hours & Number Only, ex. 1300 for 1pm">
            </div>
    
            <button class="btn btn-info">Update</button>
        </form>
    </div>
</div>

    <footer>
        <a href="/stores/<%= store._id %>">Back</a>
        <a href="/stores">All Card Stores</a>
    </footer>