<% layout('layouts/boilerplate') %>
<div class="row mb-3">
    <div class="col-6 offset-3">
        <div class="card shadow">
            <img src="https://res.cloudinary.com/hky/image/upload/v1661992098/CardStores/photo-1493857671505-72967e2e2760_us3las.jpg" alt="" class="card-img-top">
            <div class="card-body">
                <h2 class="card-title">ADD A NEW STORE</h2>
                <form action="/stores" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label class="form-label" for="image">Images (.jpeg/.jpg/.png ONLY): </label>
                        <div class="form-file custom-file">
                            <input type="file" class="form-file-input" id="image" name="store[image]" multiple>
                            <label class="form-file-label" for="image">
                                <span class="form-file-text custom-file-label">Choose image(s)...</span>
                                <span class="form-file-button">Browse</span>
                            </label>
                        </div>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
        
                    <div class="mb-3">
                        <label class="form-label" for="title">Store Name: </label>
                        <input class="form-control" type="text" id="title" name="store[title]" placeholder="Store Name" autofocus required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
            
                    <div class="mb-3">
                        <label class="form-label" for="price">Price: </label>
                        <div class="input-group">
                            <span class="input-group-text" id="price-label">$</span>
                            <input class="form-control" type="number" id="price" name="store[price]" placeholder=0 aria-label="price" aria-describedby="basic-addon1" required>
                        </div>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
            
                    <div class="mb-3">
                        <label class="form-label" for="cardgame">Card Game: </label>
                        <select class="form-control" id="cardgame" name="store[cardgame]">
                            <% for (let game of games){ %>
                                <option value="<%= game %>"><%= game.charAt(0).toUpperCase() + game.slice(1) %></option>
                            <% } %>
                        </select>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
            
                    <div class="mb-3">
                        <label class="form-label" for="description">Description: </label>
                        <textarea class="form-control" type="text" id="description" name="store[description]" placeholder="Description" required></textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
            
                    <div class="mb-3">
                        <label class="form-label" for="location">Address: </label>
                        <input class="form-control" type="text" id="location" name="store[location]" placeholder="Address" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
            
                    <div class="mb-3">
                        <label class="form-label" for="recurrence">Tournament On: </label>
                        <select class="form-control" id="recurrence" name="store[recurrence]">
                            <% for (let r of recurrence){ %>
                                <option value="<%= r %>"><%= r.charAt(0).toUpperCase() + r.slice(1) %></option>
                            <% } %>
                        </select>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
            
                    <div class="mb-3">
                        <label class="form-label" for="time">Start Time (in 24 Hours): </label>
                        <!-- <input class="form-control" type="number" id="time" name="store[time]" placeholder="24 Hours & Number Only, ex. 1300 for 1pm" required> -->
                        <select class="form-control" type="number" id="time" name="store[time]">
                            <% for (var i=8; i<=23; i++){ %>
                                <option value=<%= i * 100 %>><%= i %>: 00</option>
                                <option value=<%= i * 100 + 30 %>><%= i %>: 30</option>
                            <% } %>
                        </select>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
            
                    <button class="btn btn-success btn-block">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<footer><a class="btn btn-info" href="/stores">All Card Stores</a></footer>
