<% layout('layouts/boilerplate') %>
<h1><%= store.title %></h1>
<h2><%= store.location %></h2>
<img src="<%= store.image %>" alt="">
<p>Description: <%= store.description %></p>
<p>Price: <%= store.price %></p>
<p>Card Game: <%= store.cardgame.charAt(0).toUpperCase() + store.cardgame.slice(1) %></p>
<p>Recurrence: <%= store.recurrence.charAt(0).toUpperCase() + store.recurrence.slice(1) %></p>
<p>Time: <%= store.time / 100 %>: 00 (Local Time)</p>

<p><a href="/stores/<%= store._id %>/edit">Edit</a></p>

<form action="/stores/<%= store._id %>?_method=DELETE" method="POST">
    <button>Delete</button>
</form>

<footer>
    <a href="/stores">All Card Stores</a>
</footer>