<% layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-6">
        <div class="card mb-3">
            <img src="<%= store.image %>" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title"><%= store.title %></h4>
              <p class="card-text"><%= store.location %></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><%= store.cardgame.charAt(0).toUpperCase() + store.cardgame.slice(1) %> @$<%= store.price %></li>
              <li class="list-group-item">Description/Note: <%= store.description %></li>
              <li class="list-group-item">Recurrence: <%= store.recurrence.charAt(0).toUpperCase() + store.recurrence.slice(1) %> <%= store.time / 100 %>: 00 (Local Time)</li>
            </ul>
            <div class="card-body">
                <a href="/stores/<%= store._id %>/edit" class="card-link btn btn-primary">Edit</a>
                <form class="d-inline" action="/stores/<%= store._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
            <div class="card-footer text-muted">
                <a href="/stores">All Card Stores</a>
            </div>
        </div>   
    </div>

    <div class="col-6">
        <h3 class="text-center">Reviews For <%= store.title %></h3>
        <% for(let review of store.reviews) { %>
            <div class="card mb-3">
                <div class="card-body">
                    <h6 class="card-text">Posted by: <%= review.username %></h6>
                    <h5 class="card-title">Rating: <%= review.rating %></h5>
                    <p class="card-text">Review: <%= review.body %></p>
                    <form action="/stores/<%= store._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-sm btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        <% } %>

        <hr>
        <h3 class="text-center">Leave A Review</h3>
        <form action="/stores/<%= store._id %>/reviews" method="POST" class="mb-3 validated-form" novalidate>
            <div class="mb-3">
                <label class="form-label" for="username">Your Name: </label>
                <input class="form-control" type="text" id="username" name="review[username]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="rating">Rating (1-5): </label>
                <input class="form-range" type="range" min="1" max="5" id="rating" name="review[rating]">
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            
            <div class="mb-3">
                <label class="form-label" for="body">Your Review: </label>
                <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required placeholder="Write your review here..."></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <button class="btn btn-success">Submit</button>
        </form>
    </div>
</div>